{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{%load static%}
{% include "appShop/index1.html" %}

<link rel= "stylesheet" href={% static "css/footer.css" %}>
  <main>
    <div class="container">
      <section class=" mb-4   alnright">
        <div class="row wow fadeIn" style="margin-top: 30px;">
          <div class="col-12">

            <h1>{% trans "تسجيل الدخول" %}</h1> <br>
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}
              :قم بتسجيل الدخول او تسجيل الدخول عن طريق حساب جوجل
               <a href="{{ signup_url }}">تسجيل</a>
            {% endblocktrans %}</p>

            <div class="socialaccount_ballot">
              
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
              <div class="login-or">{% trans 'or' %}</div>
      
              {% include "socialaccount/snippets/login_extra.html" %}

              {% else %}
              <p>{% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
              {% endif %}
              
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "استرجاع كلمة السر" %}</a>
                <button class="primaryAction" type="submit">{% trans "دخول" %}</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  {% include "appShop/footer1.html" %}
{% endblock %}
