{% extends "account/base.html" %}

{% load i18n %}
{% load static%}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
{% include "appShop/index1.html" %}
<link rel= "stylesheet" href={% static "css/footer.css" %}>
<main>
  <div class="container alnright">
    <section class=" mb-4">
      <div class="row wow fadeIn" style="margin-top: 30px;">
        <div class="col-12">

          <h1>{% trans "تسجيل الخروج" %}</h1>
          <p>{% trans 'هل تريد تسجيل الخروج؟' %}</p>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">{% trans 'Sign Out' %}</button>
          </form>

        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}
