
{% block content%}
{% load orderCount %}

    <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect h3 " href="https://mdbootstrap.com/docs/jquery/" target="_blank">
        <strong class="blue-text"> محل المناديل والبلاستيك</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav  h3">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/">الرئيسية 
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/about/" target="_blank">نبذة عن المحل</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/contact/" target="_blank">راسلنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/info/" target="_blank">معلومات تهمك</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav mr-auto nav-flex-icons">
          {%if request.user.is_authenticated  %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'appShop:checkoutUrl' %}">
              <span class="badge red z-depth-1 mr-1"> {{ request.user|counter}} </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> سلة الشراء </span>
            </a>
          </li>
          {% else %}

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login'%}">
              <span class="badge orange z-depth-1 mr-1"> تسجيل الدخول </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="badge blue z-depth-1 mr-1"> التسجيل </span>
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>

        {%if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'account_logout' %}" class="nav-link waves-effect" target="_blank">
              <span class="badge red z-depth-1 mr-1"> تسجيل الخروج </span>
            </a>
          </li>
        {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  {% endblock%}