  
{% extends "base.html" %}
{% block content%}
{% load quantityforproductview %}
{% include "appShop/index1.html" %}
{% load static%}
{% TheQuantity U=request.user S=object.slug as quantity_filter_result %}

<!--Main layout-->
<main class="mt-5 pt-4">
  
  <div class="container dark-grey-text mt-5">
    {% if messages %}
  <ul class="alert alert-primary" >
  {% for message in messages %}
  <li class="message" >{{ message }}</li>
  {% endfor %}
  </ul>
  {% endif %}
    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4 ">

        <img src={{ item.image.url   }} class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 " style="text-align: right;">
        
        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            

            <!-- <a href="">
              <span class="badge purple mr-1">Category {{item.get_category_display}}</span>
              
              
            </a>
            <a href="">
              <span class="badge blue mr-1">New</span>
            </a>
            <a href="">
              <span class="badge red mr-1">Bestseller</span>
            </a>
          </div> -->
          {%if object.discount_price %}
          <p class="lead">
              :سعر المنتج
          <br>
         
          <span style=" text-align: right;" class="col-md-6 mb-4 p-4 mb-3">
            <div style="display: flex; ">
              <div> جنيه مصري  </div>   
              <div> {{object.discount_price }} </div>
               
            </div>
            
            <br>
            جنيه مصري

            <del>{{object.price }}</del>
          </span>
          </p>
          {% else%}
          <p class="lead">
            <span>${{object.price }}  :سعر المنتج</span>
          </p>
          {% endif %}

          <p class="lead">
          :وصف المنتج 
          </p>

          <p>{{ object.description }}</p>

          <p class="lead">
            {{ quantity_filter_result }} :عدد القطع من {{ object.title}} في السلة 
          </p>
          
            
            <form method="POST" action="{{ object.get_add_to_cart_url}}"  >
            {% csrf_token %}
            {{form.as_p}}
            <input type= "submit" value="اضف الي السلة" class="btn btn-primary btn-md my-0 p">
            {% if quantity_filter_result%}
          
            <a href="/removeFromCart/?nexturl={{request.path}}&&slug={{object.slug}}" class="btn btn-danger btn-md my-0 p" onclick="return confirm('ازالة الصنف من سلة الشراء؟');">
              ازل من السلة
            </a>
            {% endif %}
            
        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

      

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">معلومات اضافية</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
          voluptates,
          quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->
{% endblock%}